*{
    margin: 0;
}

#flex-display{
    display: flex; /*Ativa o display flex*/
    background-color: aqua;
    height: 300px;

    /*Direços

    flex-direction: row-reverse; - Faz a direção do bloco ser da esquerda pra direita em vez do padrão que é da esquerda para direita
    flex-direction: column; - A direção passa a ser de cima para baixo
    flex-direction: column-reverse; - A direção passa a ser de baixo para cima*/


    /*Justify-content

    justify-content: flex-end; Alinha o contéudo no final do display , o padrão é o flex-start
    justify-content: center; Alinha o contéudo no meio do display
    justify-content: space-between; Cria um espaço entre os elementos na horizontal dividindo igualmente o espaço
    justify-content: space-around; Cria um espaço aos lados de cada elemento*/


    /*Align-items

    align-items: flex-start;  Alinha os contéudos no topo do display
    align-items: flex-end;  Alinha os contéudos na parte de baixo do display
    align-items: stretch; estica os contéudos
    align-items: center; oposto de stretch*/

    justify-content: center;
    justify-content: space-around;
    align-items: center;
    
    & #imagens{
        display: flex;
        border-style: dashed;
        border-color: white;
        padding: 5px;
        width: 300px;
        height: 160px;
        justify-content: space-between;
        align-items: flex-end;

        & #self {
            display: flex;
            align-self: flex-start; /*"self" - Você meio que sobre-escrever alguma função para algum elemento fazendo com que fique diferente dos demais elementos*/
        }

        & img{
            height: 80px;
            border-style: solid;
            border-color: blueviolet;
        }

    }


    & h1{
        font-size: 50px;
        border-style: solid;
        border-color: white;
    }
}

